{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("bundles/jmstranslation/css/layout.css") }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("bundles/kasonataadminjmstranslation/css/kasonataadminjmstranslation.css") }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/kasonataadminjmstranslation/js/kasonataadminjmstranslation.js") }}"></script>
    <script language="javascript" type="text/javascript">
        $(function () {
            addKaSonataAdminEventListeners(
                    {{ path("jms_translation_update_message", {"config": selectedConfig, "domain": selectedDomain, "locale": selectedLocale})|json_encode|raw }},
                    {{ isWriteable is sameas(true) }},
                    {{ is_granted('ROLE_SUPER_ADMIN') and ka_is_git_available() }},
                    {{ is_granted('ROLE_SUPER_ADMIN') and ka_is_git_available() and ka_is_git_initialized(currentDir) }},
                    {{ path('ka_sonataadminjmstranslation_translate_git_info', {"config": selectedConfig })|json_encode|raw }}
            );
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-{% if isWriteable is sameas(true) %}10{% else %}12{% endif %}">
            <div data-transaltions-container class="panel panel-default">
                <div class="panel-heading">{{ 'Translation filter'|trans }}</div>
                <form id="config" class="form-inline panel-body sonata-no-margin" role="form"
                      action="{{ path("jms_translation_index") }}" method="get">

                    <div class="form-group">
                        <label for="translation_configuration">{{ 'Bundle'|trans }}</label>
                        <select data-sonata-select2="false" id="translation_configuration" name="config"
                                class="form-control">
                            {% for config in configs %}
                                <option value="{{ config }}"{% if config == selectedConfig %} selected="selected"{% endif %}>{{ config }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="translation_domain">{{ 'Domain'|trans }}</label>
                        <select data-sonata-select2="false" id="translation_domain" name="domain" class="form-control">
                            {% for domain in domains %}
                                <option value="{{ domain }}"{% if domain == selectedDomain %} selected="selected"{% endif %}>{{ domain }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="translation_locale">{{ 'Locale'|trans }}</label>
                        <select data-sonata-select2="false" id="translation_locale" name="locale" class="form-control">
                            {% for locale in locales %}
                                <option value="{{ locale }}"{% if locale == selectedLocale %} selected="selected"{% endif %}>{{ locale }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
                {% include "KASonataAdminJMSTranslationBundle:Translate:archive.html.twig" %}
            </div>
        </div>
        {% if isWriteable is sameas(true) %}
            <div class="col-md-2">
                <div class="panel panel-warning">
                    <div class="panel-heading">{{ 'Cache'|trans }}</div>
                    <div class="panel-body text-center">

                        <a class="btn btn-danger" id="clearCache"
                           href="{{ path('jms_translation_clear_cache', {"locale": selectedLocale}) }}">{{ 'Clear'|trans }}</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if isWriteable is sameas(false) %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-block alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4>{{ 'Error!'|trans }}</h4>

                    <p>{{ 'The translation file'|trans }} "<strong>{{ file }}</strong>" {{ 'is not writable'|trans }}.
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

    {% if "xliff" != format %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-block alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4>{{ 'Error!'|trans }}</h4>

                    <p>
                        Due to limitations of the different loaders/dumpers, some features are unfortunately limited
                        to
                        the XLIFF format.

                        <br/><br/>

                        However, you can easily convert your existing translation files to the XLIFF format by
                        running:<br/>
                        <code>php app/console translation:extract {{ selectedLocale }} --config={{ selectedConfig }}
                            --output-format=xliff</code>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-9">
            <div data-transaltions-container class="">
                {% if newMessages is not empty %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'New Messages'|trans }}</div>
                        <div class="panel-body">
                            {% include "KASonataAdminJMSTranslationBundle:Translate:messages.html.twig" with {"messages": newMessages, "tabIndex": 1} %}
                        </div>
                    </div>
                {% endif %}
                {% if existingMessages is not empty %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'Existing Messages'|trans }}</div>
                        <div class="panel-body">
                            {% include "KASonataAdminJMSTranslationBundle:Translate:messages.html.twig" with {"messages": existingMessages, "tabIndex": newMessages|length + 1} %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'New transaltion'|trans }}</div>

                <form class="form panel-body"
                      action="{{ path("jms_translation_create_message", {"config": selectedConfig, "domain": selectedDomain, "locale": selectedLocale}) }}"
                      method="POST">
                    <div class="form-group">
                        <input {% if isWriteable is sameas(false) %}disabled="disabled"{% endif %} id="newTranslationId"
                               type="text" class="form-control" name="id"
                               placeholder="{{ 'Translation ID'|trans }}"/>
                    </div>
                    <div class="form-group">
                        <textarea {% if isWriteable is sameas(false) %}readonly="readonly"{% endif %}
                                  id="newTranslationMessage" placeholder="{{ 'Translation message'|trans }}"
                                  name="message"
                                  class="form-control" style="resize: vertical;" rows="10"></textarea>
                    </div>
                    {% if isWriteable is sameas(true) %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" id="addTranslation" value="{{ 'add'|trans }}"/>
                        </div>
                    {% endif %}
                </form>
            </div>

            <div class="git" data-git>
                {% include "KASonataAdminJMSTranslationBundle:Translate:git.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}
