    <table class="table table-hover table-bordered  table-striped">
        <thead>
            <tr>
                <th width="25%">ID</th>
                <th width="75%">Translation</th>
            </tr>
        </thead>
        <tbody>
            {% for id, message in messages %}
            <tr class="translation-row">
                <td>
                    <a class="jms-translation-anchor" id="{{ id }}" />
                    <p><abbr title="{{ id }}">{{ id|truncate(35) }}</abbr></p>
                    <div>
                        <a data-id="{{ id }}" class="btn btn-danger remove_translation" href="{{ path('jms_translation_remove_message', {"config": selectedConfig, "domain": selectedDomain, "locale": selectedLocale}) }}">
                            {{ 'Remove'|trans }}
                        </a>
                    </div>
                </td>
                <td>
                    <textarea data-id="{{ id }}" class="form-control" style="resize: vertical;" rows="5"{% if isWriteable is sameas(false) %} readonly="readonly"{% endif %}>{{ message.localeString }}</textarea>
                    {% if message.meaning is not empty or lternativeMessages[id] is defined or message.sources|length > 0 or (message.desc is not empty
                    and message.localeString != message.desc
                    and id != message.desc
                    and (alternativeMessages[id][sourceLanguage] is not defined
                    or alternativeMessages[id][sourceLanguage].localeString != message.desc)) %}
                    <div class="spoiler_block" style="margin-top: 5px">
                        <div>
                        <a class="show_spoiler btn btn-info btn-xs" href="#">{{ 'Additional Information'|trans }}</a>
                        </div>
                        <div class="spoiler panel panel-info" style="display: none">
                            <div class="panel-body">
                            {% if message.meaning is not empty %}
                                <h6>Meaning</h6>
                                <p>{{ message.meaning }}</p>
                            {% endif %}

                            {% if alternativeMessages[id] is defined %}
                                <h6>Alternative Translations</h6>
                                {% for locale, altMessage in alternativeMessages[id] %}
                                    <p>
                                        <strong>{{ locale }}:</strong> <pre>{{ altMessage.localeString }}</pre>
                                    </p>
                                {% endfor %}
                            {% endif %}

                            {% if message.sources|length > 0 %}
                                <h6>{{ 'Sources'|trans }}</h6>
                                <ol>
                                    {% for source in message.sources %}
                                        <li>{{ source }}</li>
                                    {% endfor %}
                                </ol>
                            {% endif %}

                            {% if message.desc is not empty
                            and message.localeString != message.desc
                            and id != message.desc
                            and (alternativeMessages[id][sourceLanguage] is not defined
                            or alternativeMessages[id][sourceLanguage].localeString != message.desc) %}
                                <h6>Description</h6>
                                <p>{{ message.desc }}</p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No messages found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
